
body{
    display: flex;  
    align-items: center;
    justify-content: center;
   
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}
#resetBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4 px solid;
    border-radius: 15px;
    cursor: pointer;
}