body{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  
}
#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}