body{
    font-family: 'MV Boli';
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: 'MV Boli', Courier, monospace;
    font-size: 70px;
}
#resetBtn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4 px solid;
    border-radius: 15px;
    cursor: pointer;
}